In [54]:
import pandas as pd
df=pd.read_csv('loan_approval_dataset.csv')
df.head(n=50)

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
5,6,0,Graduate,Yes,4800000,13500000,10,319,6800000,8300000,13700000,5100000,Rejected
6,7,5,Graduate,No,8700000,33000000,4,678,22500000,14800000,29200000,4300000,Approved
7,8,2,Graduate,Yes,5700000,15000000,20,382,13200000,5700000,11800000,6000000,Rejected
8,9,0,Graduate,Yes,800000,2200000,20,782,1300000,800000,2800000,600000,Approved
9,10,5,Not Graduate,No,1100000,4300000,10,388,3200000,1400000,3300000,1600000,Rejected
10,11,4,Graduate,Yes,2900000,11200000,2,547,8100000,4700000,9500000,3100000,Approved
11,12,2,Not Graduate,Yes,6700000,22700000,18,538,15300000,5800000,20400000,6400000,Rejected
12,13,3,Not Graduate,Yes,5000000,11600000,16,311,6400000,9600000,14600000,4300000,Rejected
13,14,2,Graduate,Yes,9100000,31500000,14,679,10800000,16600000,20900000,5000000,Approved
14,15,1,Not Graduate,No,1900000,7400000,6,469,1900000,1200000,5900000,1900000,Rejected
15,16,5,Not Graduate,No,4700000,10700000,10,794,5700000,3900000,16400000,4400000,Approved
16,17,2,Graduate,Yes,500000,1600000,4,663,1300000,100000,1300000,700000,Approved
17,18,4,Not Graduate,Yes,2900000,9400000,14,780,2900000,2800000,6700000,4300000,Approved
18,19,2,Graduate,No,2700000,10300000,10,736,1000000,0,6200000,3300000,Approved
19,20,5,Graduate,No,6300000,14600000,12,652,10300000,3500000,23500000,5900000,Approved
20,21,2,Graduate,No,5000000,19400000,12,315,9500000,1600000,18000000,6100000,Rejected
21,22,4,Graduate,No,5800000,14000000,16,530,3800000,11300000,22200000,5400000,Rejected
22,23,4,Graduate,Yes,6500000,25700000,18,311,13100000,1700000,19500000,8500000,Rejected
23,24,0,Not Graduate,Yes,500000,1400000,2,551,900000,600000,1100000,300000,Approved
24,25,0,Not Graduate,No,4900000,9800000,16,324,3800000,8700000,10000000,3300000,Rejected
25,26,5,Not Graduate,No,3100000,9500000,20,514,7900000,3100000,6600000,2600000,Rejected
26,27,4,Graduate,No,8200000,28100000,12,696,11500000,10600000,25300000,7200000,Approved
27,28,4,Not Graduate,Yes,2400000,5600000,4,662,4500000,4200000,5400000,2500000,Approved
28,29,5,Not Graduate,Yes,7000000,24000000,6,336,2300000,11900000,27500000,9700000,Rejected
29,30,3,Not Graduate,Yes,9000000,31500000,10,850,21800000,12400000,33700000,8000000,Approved
30,31,2,Not Graduate,No,9800000,25300000,12,313,20200000,5200000,25500000,9300000,Rejected
31,32,2,Graduate,No,5700000,12000000,6,363,3600000,7400000,21700000,4300000,Rejected
32,33,1,Not Graduate,Yes,800000,1600000,10,436,700000,200000,2200000,1000000,Rejected
33,34,5,Not Graduate,Yes,8400000,22000000,2,830,3800000,3900000,19900000,5400000,Approved
34,35,3,Graduate,No,4900000,11900000,8,612,9700000,1200000,19000000,5800000,Approved
35,36,2,Graduate,Yes,1700000,3400000,8,691,2700000,2800000,6000000,900000,Approved
36,37,3,Not Graduate,No,1600000,6200000,18,636,3400000,700000,5300000,1400000,Approved
37,38,5,Graduate,Yes,8000000,27200000,6,348,6400000,300000,16700000,7100000,Rejected
38,39,5,Graduate,No,3600000,7700000,16,830,7000000,1300000,10000000,2900000,Approved
39,40,3,Not Graduate,Yes,1500000,5100000,6,352,100000,200000,5600000,900000,Rejected
40,41,1,Graduate,No,7800000,18100000,2,712,8600000,11200000,21700000,9000000,Approved
41,42,2,Not Graduate,No,9100000,24900000,16,822,22300000,12100000,31000000,5200000,Approved
42,43,3,Graduate,No,1400000,3400000,6,540,200000,1500000,3900000,800000,Rejected
43,44,2,Graduate,Yes,800000,2300000,12,342,2200000,1300000,1800000,800000,Rejected
44,45,5,Graduate,No,6500000,13400000,18,787,18200000,300000,16200000,5400000,Approved
45,46,4,Graduate,No,8000000,27800000,16,331,13000000,6300000,21400000,10900000,Rejected
46,47,3,Not Graduate,Yes,4200000,14600000,6,679,2400000,6900000,8700000,4900000,Approved
47,48,1,Graduate,Yes,4900000,19100000,14,677,5400000,9100000,17700000,6500000,Approved
48,49,3,Not Graduate,No,5500000,20500000,12,634,800000,8600000,18500000,8200000,Approved
49,50,1,Not Graduate,Yes,9500000,19100000,16,662,100000,10500000,37700000,11700000,Approved

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   loan_id                    4269 non-null   int64
 1    no_of_dependents          4269 non-null   int64
 2    education                 4269 non-null   object
 3    self_employed             4269 non-null   object
 4    income_annum              4269 non-null   int64
 5    loan_amount               4269 non-null   int64
 6    loan_term                 4269 non-null   int64
 7    cibil_score               4269 non-null   int64
 8    residential_assets_value  4269 non-null   int64
 9    commercial_assets_value   4269 non-null   int64
 10   luxury_assets_value       4269 non-null   int64
 11   bank_asset_value          4269 non-null   int64
 12   loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB